.caveni-seo-section {
  display: grid;
  height: 100%;
  column-gap: 20px;
}
.seo-left-col {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
  height: 100%;
}
.caveni-box {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 0px;
  text-align: center;
  width: calc(50% - 10px);
  position: relative;
}
.caveni-box h3 {
  color: #48465b;
  font-size: 1.1rem;
  font-weight: 500;
  padding-top: 0px;
  margin-bottom: 0px;
}
small.date-info {
  display: flex;
  width: 100%;
  text-align: left;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  align-items: center;
  cursor: pointer;
  max-width: max-content;
  color: #48465b;
}

small.date-info:hover {
  color: #48465b !important;
}
small.date-info i {
  display: none;
}
.caveni-box:hover > small.date-info i {
  display: block;
}
.caveni-gradient small.date-info {
  padding-top: 0;
  padding-left: 0;
}
.caveni-table-reponsive {
  max-height: 230px;
  overflow-y: auto;
}
.caveni-table-reponsive::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #dcdce3;
  border-radius: 5px;
}
.caveni-table-reponsive::-webkit-scrollbar {
  width: 5px;
  background-color: #dcdce3;
}
.caveni-table-reponsive::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #6d6c7d;
  border-radius: 5px;
}
.caveni-box:hover > small.date-info {
  font-weight: 500;
}
.caveni-value {
  font-size: 30px;
  color: #48465b;
  margin-bottom: 5px;
  font-weight: 600;
}
.caveni-subtext {
  font-size: 14px;
  color: #48465b;
  font-weight: 500;
}
.engagement-info .caveni-subtext:last-child {
  color: #48465b;
}
.caveni-gradient h3 {
  margin-bottom: 20px;
  padding-top: 0;
}
.engagement-info {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  margin-bottom: 10px;
  border: 1px solid #f2f2f3;
}
.caveni-gradient {
  display: flex;
  flex-direction: column;
  background: #fff;
  width: 100%;
  padding: 20px;
}
.caveni-seo-section .rate-up {
  color: green;
}
.caveni-seo-section .rate-down {
  color: red;
}
.caveni-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
table.caveni-table thead tr th {
  color: #48465b;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0px;
  text-align: left;
  padding: 10px 12px;
}
table.caveni-table tbody tr td {
  color: #48465b;
  font-size: 14px;
  font-weight: 500;
  padding: 8px 12px;
  margin-bottom: 0px;
  text-align: left;
}
.caveni-chart-filters {
  max-height: 460px;
  overflow-y: auto;
}
.caveni-chart-filters::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #dcdce3;
  border-radius: 5px;
}
.caveni-chart-filters::-webkit-scrollbar {
  width: 5px;
  background-color: #dcdce3;
}
.caveni-chart-filters::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #6d6c7d;
  border-radius: 5px;
}
.caveni-chart-filters {
  display: none;
  background-color: #0e1424;
  color: #fff;
  border-radius: 5px;
  max-width: 420px;
  width: 100%;
  padding: 15px;
  position: absolute;
  z-index: 1000;
  overflow: visible;
}
.caveni-chart-filters:before {
  content: "";
  position: absolute;
  width: 11px;
  height: 11px;
  background-color: #0e1424;
  top: -5px;
  transform: rotate(45deg);
  right: 20px;
}
.caveni-chart-filters .filter-section h4 {
  color: #ffffff;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  border-bottom: 1px solid #5a5a5a;
  margin-bottom: 0;
  padding: 10px;
  justify-content: space-between;
}
.caveni-chart-filters .filter-section h4 .arrow {
  margin-left: auto;
  transition: transform 0.3s ease;
}
.caveni-chart-filters .filter-section h4.open .arrow {
  transform: rotate(180deg);
}
.caveni-chart-filters .filter-items {
  display: none;
  margin-left: 0px;
  padding-left: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.caveni-chart-filters .filter-item {
  margin: 0px 0;
  cursor: pointer;
  padding: 5px 10px;
  text-align: left;
  font-size: 14px;
}
.caveni-chart-filters .filter-item:hover {
  background-color: #6069f1;
  border-radius: 5px;
}
.caveni-chart-filters .filter-section:last-child h4 {
  border-bottom: 0;
}
small.date-info i {
  margin-left: 5px;
}
.period_picker_input .period_button_text {
  padding: 0 !important;
}

/* period-picker-css-start-here */
.period_picker_input {
  width: 100%;
  padding: 10px !important;
  font-size: 14px !important;
  color: #48465b !important;
  font-weight: 500;
}
.period_picker_input:before {
  border-radius: 5px !important;
  -webkit-box-shadow: unset !important;
  box-shadow: unset !important;
}
.period_picker_box {
  background: #0e1424 !important;
  border-radius: 5px !important;
  font-family: inherit !important;
  font-size: 14px !important;
  box-shadow: unset !important;
}
.period_picker_box * {
  font-family: inherit !important;
}
.period_picker_box .period_picker_head_title {
  color: #fff !important;
  display: none;
}
.period_picker_box .period_picker_max_min,
.period_picker_box .period_picker_close {
  filter: brightness(0) invert(1) !important;
  opacity: 1 !important;
}
.period_picker_box .period_picker_days table table {
  background-color: unset !important;
  margin-bottom: 0px !important;
}
.period_picker_box
  .period_picker_days
  table
  table.period_picker_first_letters_table
  th {
  color: #fff !important;
  font-family: inherit !important;
  font-size: 9px !important;
}
.period_picker_box .period_picker_days table table th.period_picker_month {
  font-family: inherit !important;
  color: #fff !important;
  font-weight: 600 !important;
}
.period_picker_box table td,
.period_picker_box table th {
  font-size: 14px !important;
  font-family: inherit !important;
  text-align: center !important;
}
.period_picker_box .period_picker_submit_dates {
  background-color: unset !important;
}
.period_picker_box .xdsoft_navigate {
  top: 0 !important;
  bottom: 0 !important;
  filter: brightness(0) saturate(100%) invert(36%) sepia(35%) saturate(4415%)
    hue-rotate(225deg) brightness(100%) contrast(89%);
}
.period_picker_box .period_picker_submit_dates .input_box {
  padding: 0 10px !important;
  border-radius: 5px !important;
  border: 0 !important;
  box-shadow: unset !important;
  background: #f2f1f9 !important;
}
.period_picker_box .period_picker_date {
  width: 104px !important;
}
.period_picker_box .period_picker_submit_dates input.input_control {
  height: 42px !important;
}
.period_picker_box .period_picker_show:before {
  box-shadow: unset !important;
  background-color: #5d66f0 !important;
  display: none !important;
}
.period_picker_box .period_picker_show {
  font-weight: 500 !important;
  color: #ffffff !important;
  background-color: #5d66f0 !important;
  padding: 12px 24px !important;
  border-radius: 3px !important;
  text-align: center !important;
  transition: all 0.3s !important;
  height: 42px !important;
  line-height: normal !important;
  border-radius: 5px !important;
}
.period_picker_box .period_picker_show span {
  color: #fff !important;
  padding: 0 !important;
}
.period_picker_box .period_picker_days table td.period_picker_selected {
  background: #5d66f0 !important;
  border-radius: 5px !important;
  color: #fff !important;
}
.period_picker_box .period_picker_days table table td {
  color: #fff !important;
}
.period_picker_box .period_picker_days table table td:hover {
  background-color: #5d66f0 !important;
}
.period_picker_box.period_picker_maximize {
  z-index: 999999;
}
.period_picker_box .period_picker_days table table {
  width: 100% !important;
}
.period_picker_box {
  min-width: 550px !important;
}
.period_picker_box
  .period_picker_days
  table
  td.period_picker_month12:not(:last-child):after {
  display: none;
}
.period_picker_box .period_picker_days table td.period_picker_cell_today {
  background: #5d66f08a !important;
  color: #fff !important;
  border-radius: 5px !important;
}
.period_picker_days table tr:last-child {
  padding-right: 10px !important;
}
span#calendar-days-span {
  color: #fff;
  margin-left: 10px;
  text-transform: capitalize;
}
.period_picker_box .period_picker_work {
  padding-left: 0;
  padding-right: 28px;
}
.caveni-gradient .engagement-info:last-child {
  margin-bottom: 0;
}
.period_picker_box .period_picker_submit_dates {
  text-align: left !important;
}
th.period_picker_selector_week_cap {
  visibility: hidden !important;
}
td.period_picker_selector_week {
  visibility: hidden !important;
}
/* period-picker-css-end-here */

/* search-seo-summary-css-start-here */

.search-seo-summary .card.custom-card {
  transform: unset !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}

.search-seo-summary select {
  font-size: 14px;
  font-weight: 400;
  color: #48465b;
  height: 42px !important;
  border-radius: 5px;
  background-color: #f2f1f9 !important;
  padding: 8px;
}
.search-seo-summary .card.custom-card .card-body > .row .col-lg-5 .col-md-12 {
  padding-right: 0;
}
.search-seo-summary .col-md-2 .form-group {
  margin-bottom: 0 !important;
}
.search-seo-summary .custom-header {
  padding: 0;
}
.search-seo-summary .col-md-12 .form-group {
  margin-bottom: 0;
}
.search-seo-summary .card.custom-card .card-body {
  display: flex;
  flex-direction: row;
  padding: 0;
}
.search-seo-summary .card.custom-card .card-body > .row {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
}
.search-seo-summary .card.custom-card .card-body .row .col-md-2 {
  padding-right: 0;
  padding-left: 0;
}
.search-seo-summary .card.custom-card .card-body .row .col-md-2 a {
  width: 100%;
  font-weight: 500;
  color: #ffffff !important;
  background-color: #5d66f0;
  padding: 12px 24px;
  border-radius: 3px;
  display: inline-block;
  text-align: center;
  transition: all 0.3s;
  height: 42px;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-seo-summary select:focus {
  box-shadow: unset;
  outline: unset;
}
.caveni-box thead {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fff;
}
/* search-seo-summary-css-end-here */

/* PPC-css-start-here */
.caveni-ppc {
  grid-template-columns: 1fr;
}
.highcharts-data-label-box {
  stroke: none !important; /* Removes any stroke (border outline) */
  fill: transparent !important; /* Ensures the background is transparent */
}
.search-seo-summary .card.custom-card .card-body .col-lg-4 {
  max-width: unset !important;
}
.caveni-ppc .caveni-gradient .engagement-info {
  margin-top: auto;
  margin-bottom: auto !important;
}
.caveni-ppc .caveni-box:nth-child(4),
.caveni-ppc .caveni-box:nth-child(5),
.caveni-ppc .caveni-box:nth-child(6) {
  height: 84%;
}

.caveni-ppc .caveni-box:nth-child(7),
.caveni-ppc .caveni-box:nth-child(8),
.caveni-ppc .caveni-box:nth-child(9) {
  margin-top: -50px;
}

/* PPC-css-end-here */

@media (max-width: 1024px) {
  .search-seo-summary .card.custom-card {
    flex-direction: column;
  }

  .search-seo-summary .card.custom-card .custom-header {
    width: 100%;
  }

  .search-seo-summary .card.custom-card .card-body {
    width: 100%;
  }

  .search-seo-summary .card.custom-card .card-body .col-lg-4 {
    max-width: 70% !important;
    padding-left: 0 !important;
  }

  .search-seo-summary .card.custom-card .card-body .col-md-2 {
    max-width: 30% !important;
    flex: 0 0 30% !important;
  }
}

@media (max-width: 768px) {
  .caveni-chart-filters {
    max-width: 100%;
    padding: 10px;
  }
  .caveni-seo-section {
    grid-template-columns: 1fr;
  }
  .seo-left-col {
    flex-direction: column;
  }
  .caveni-box {
    width: 100%;
  }
  .caveni-gradient {
    margin-top: 20px;
  }
  .period_picker_box {
    min-width: unset !important;
  }
  .caveni-value {
    font-size: 24px;
  }
  .period_picker_box .period_picker_submit_dates {
    font-size: 12px !important;
    text-align: left !important;
  }
  .period_picker_box .period_picker_submit_dates input.input_control {
    font-size: 12px !important;
    padding: 0 !important;
  }
  span#calendar-days-span-users {
    color: #fff !important;
  }
  .period_picker_box .period_picker_submit_dates .period_picker_date {
    width: calc(50% - 15px) !important;
  }
  .period_picker_box .period_picker_submit_dates {
    text-align: left !important;
    padding: 16px 20px 16px 20px !important;
    width: 100%;
    margin: 0 !important;
  }
  span#calendar-days-span {
    margin-left: 0;
    margin-top: 10px !important;
    display: block;
  }
  .period_picker_box .period_picker_submit_dates .period_picker_show {
    bottom: 8px !important;
    right: 22px !important;
    height: 32px !important;
    padding: 10px 20px !important;
    display: flex;
    align-items: center;
  }
  .period_picker_box.without_yearsline {
    min-height: 350px !important;
  }
  .period_picker_box .period_picker_submit_dates:before {
    margin-bottom: 0px !important;
  }
  .search-seo-summary .card-body {
    padding: 20px !important;
  }
  .search-seo-summary .col-md-2 .form-group label {
    height: auto;
  }
  .search-seo-summary .cilent-title {
    margin-bottom: 0;
  }
  .search-seo-summary .custom-header {
    padding: 20px;
    padding-bottom: 0;
  }
  .caveni-ppc .seo-left-col {
    grid-template-columns: 1fr;
  }
  .search-seo-summary .card.custom-card .custom-header {
    padding: 0;
  }
  .search-seo-summary .card.custom-card .card-body {
    padding: 0 !important;
    margin-top: 20px;
  }
  .search-seo-summary .card.custom-card .card-body .col-lg-4 {
    max-width: 100% !important;
  }
  .search-seo-summary .card.custom-card .card-body .col-md-2 {
    max-width: 45% !important;
    flex: 0 0 45% !important;
    margin-right: auto;
    margin-top: 20px;
  }
  .search-seo-summary .card.custom-card .card-body .col-md-2 a {
    padding: 12px !important;
  }
  .search-seo-summary .card.custom-card .card-body .col-lg-4 .col-md-12 {
    padding-right: 0;
  }
}

/* ------------------ By @webozza ----------------------- */
.top-metrics-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 15px;
}

.top-metrics-container .caveni-box {
  flex: 1;
  background: #ffffff;
  padding: 24px 24px 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-metrics-container .caveni-box-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.top-metrics-container .info-icon {
  font-size: 16px;
  color: #bbb;
  cursor: pointer;
}

.top-metrics-container .caveni-box-content {
  text-align: left;
}

.top-metrics-container .caveni-value {
  font-size: 20px;
  color: #48465b;
  margin-bottom: 8px;
  display: inline-flex;
  flex-direction: column;
  gap: 5px;
}

.top-metrics-container .caveni-change {
  font-size: 12px;
  font-weight: bold;
}

.caveni-container-row > .caveni-box {
  width: calc(100% / 3);
}
