.elementor-hidden {
  display: none;
}

.elementor-visibility-hidden {
  visibility: hidden;
}

.elementor-screen-only,
.screen-reader-text,
.screen-reader-text span,
.ui-helper-hidden-accessible {
  position: absolute;
  top: -10000em;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.elementor-clearfix:after {
  content: "";
  display: block;
  clear: both;
  width: 0;
  height: 0;
}

.e-logo-wrapper {
  background: var(--e-a-bg-logo);
  display: inline-block;
  padding: 0.75em;
  border-radius: 50%;
  line-height: 1;
}

.e-logo-wrapper i {
  color: var(--e-a-color-logo);
  font-size: 1em;
}

.elementor *,
.elementor :after,
.elementor :before {
  box-sizing: border-box;
}

.elementor a {
  box-shadow: none;
  text-decoration: none;
}

.elementor hr {
  margin: 0;
  background-color: transparent;
}

.elementor img {
  height: auto;
  max-width: 100%;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.elementor
  .elementor-widget:not(.elementor-widget-text-editor):not(
    .elementor-widget-theme-post-content
  )
  figure {
  margin: 0;
}

.elementor embed,
.elementor iframe,
.elementor object,
.elementor video {
  max-width: 100%;
  width: 100%;
  margin: 0;
  line-height: 1;
  border: none;
}

.elementor .elementor-background,
.elementor .elementor-background-holder,
.elementor .elementor-background-video-container {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  overflow: hidden;
  z-index: 0;
  direction: ltr;
}

.elementor .elementor-background-video-container {
  transition: opacity 1s;
  pointer-events: none;
}

.elementor .elementor-background-video-container.elementor-loading {
  opacity: 0;
}

.elementor .elementor-background-video-embed {
  max-width: none;
}

.elementor .elementor-background-video,
.elementor .elementor-background-video-embed,
.elementor .elementor-background-video-hosted {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.elementor .elementor-background-video {
  max-width: none;
}

.elementor .elementor-html5-video {
  -o-object-fit: cover;
  object-fit: cover;
}

.elementor .elementor-background-overlay,
.elementor .elementor-background-slideshow {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.elementor .elementor-background-slideshow {
  z-index: 0;
}

.elementor .elementor-background-slideshow__slide__image {
  width: 100%;
  height: 100%;
  background-position: 50%;
  background-size: cover;
}

.e-con-inner > .elementor-element.elementor-absolute,
.e-con > .elementor-element.elementor-absolute,
.elementor-widget-wrap > .elementor-element.elementor-absolute {
  position: absolute;
}

.e-con-inner > .elementor-element.elementor-fixed,
.e-con > .elementor-element.elementor-fixed,
.elementor-widget-wrap > .elementor-element.elementor-fixed {
  position: fixed;
}

.elementor-widget-wrap .elementor-element.elementor-widget__width-auto,
.elementor-widget-wrap .elementor-element.elementor-widget__width-initial {
  max-width: 100%;
}

@media (max-width: 991px) {
  .elementor-widget-wrap .elementor-element.elementor-widget-tablet__width-auto,
  .elementor-widget-wrap
    .elementor-element.elementor-widget-tablet__width-initial {
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .elementor-widget-wrap .elementor-element.elementor-widget-mobile__width-auto,
  .elementor-widget-wrap
    .elementor-element.elementor-widget-mobile__width-initial {
    max-width: 100%;
  }
}

.elementor-element {
  --flex-direction: initial;
  --flex-wrap: initial;
  --justify-content: initial;
  --align-items: initial;
  --align-content: initial;
  --gap: initial;
  --flex-basis: initial;
  --flex-grow: initial;
  --flex-shrink: initial;
  --order: initial;
  --align-self: initial;
  flex-basis: var(--flex-basis);
  flex-grow: var(--flex-grow);
  flex-shrink: var(--flex-shrink);
  order: var(--order);
  align-self: var(--align-self);
}

.elementor-element.elementor-absolute,
.elementor-element.elementor-fixed {
  z-index: 1;
}

.elementor-element:where(.e-con-full, .elementor-widget) {
  flex-direction: var(--flex-direction);
  flex-wrap: var(--flex-wrap);
  justify-content: var(--justify-content);
  align-items: var(--align-items);
  align-content: var(--align-content);
  gap: var(--gap);
}

.elementor-invisible {
  visibility: hidden;
}

.elementor-align-center {
  text-align: center;
}

.elementor-align-center .elementor-button {
  width: auto;
}

.elementor-align-right {
  text-align: right;
}

.elementor-align-right .elementor-button {
  width: auto;
}

.elementor-align-left {
  text-align: left;
}

.elementor-align-left .elementor-button {
  width: auto;
}

.elementor-align-justify .elementor-button {
  width: 100%;
}

.elementor-custom-embed-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.elementor-custom-embed-play i {
  font-size: 100px;
  color: #fff;
  text-shadow: 1px 0 6px rgba(0, 0, 0, 0.3);
}

.elementor-custom-embed-play svg {
  height: 100px;
  width: 100px;
  fill: #fff;
  filter: drop-shadow(1px 0 6px rgba(0, 0, 0, 0.3));
}

.elementor-custom-embed-play i,
.elementor-custom-embed-play svg {
  opacity: 0.8;
  transition: all 0.5s;
}

.elementor-custom-embed-play.elementor-playing i {
  font-family: eicons;
}

.elementor-custom-embed-play.elementor-playing i:before {
  content: "\e8fb";
}

.elementor-custom-embed-play.elementor-playing i,
.elementor-custom-embed-play.elementor-playing svg {
  animation: eicon-spin 2s linear infinite;
}

.elementor-tag {
  display: inline-flex;
}

.elementor-ken-burns {
  transition-property: transform;
  transition-duration: 10s;
  transition-timing-function: linear;
}

.elementor-ken-burns--out {
  transform: scale(1.3);
}

.elementor-ken-burns--active {
  transition-duration: 20s;
}

.elementor-ken-burns--active.elementor-ken-burns--out {
  transform: scale(1);
}

.elementor-ken-burns--active.elementor-ken-burns--in {
  transform: scale(1.3);
}
